<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Tasklist</title> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    </head>
    <body>
        <div class="container">
            <h2 class="text-center">Admin View: Tasks</h2>
            <br />
            <div class="mb-3">
                <a href="{% url 'logout' %}" class="btn btn-danger ml-2">Logout</a>
            </div>
            <div class="mb-3">
                <a href="{% url 'task-create' %}" class="btn btn-danger ml-2">Create New Task</a>
            </div>
            <table id="taskTable" class="table">
                <thead>
                    <tr>
                        <th>Task Title</th>
                        <th>Task Description</th>
                        <th>Assignee</th>
                        <th>Status</th>
                        <th>Time left</th>
                        <th>Priority</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                    <tr>
                        <td>{{ task.title }}</td>
                        <td>{{ task.description }}</td>
                        <td>{{ task.assignee_name }}</td>
                        <td>{{ task.status }}</td>
                        <td>
                            <div id="countdown_{{ task.id }}" class="countdown-timer" data-start-date="{{ task.startDate|date:'Y-m-d H:i:s' }}"></div>
                        </td>
                        <td>{{ task.priority }}</td>
                        <td>
                            <a href="{% url 'task-update' task.id %}" class="btn btn-info btn-sm">Update</a>

                            <form method="post" action="{% url 'task-delete' task.id %}" style="display: inline;" onsubmit="return confirmDelete('{{ task.title }}')">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <script>
            function updateCountdownTimers() {
                document.querySelectorAll('.countdown-timer').forEach(timer => {
                    // Get the start date of the task and convert it to a JavaScript Date object
                    var startdate = new Date(timer.getAttribute('data-start-date'));
                    var now = new Date();

                    // Calculate the time difference between now and the start date
                    var timeDiff = startdate - now;

                    // If the task has not started yet, display the countdown timer
                    if (timeDiff > 0) {
                        var days = Math.floor(timeDiff / (1000 * 60 * 60 * 24));
                        var hours = Math.floor((timeDiff % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                        var minutes = Math.floor((timeDiff % (1000 * 60 * 60)) / (1000 * 60));
                        var seconds = Math.floor((timeDiff % (1000 * 60)) / 1000);

                        // Display the countdown timer in the format: DD:HH:MM:SS
                        timer.innerText = days + "d " + hours + "h " + minutes + "m " + seconds + "s ";
                    } else {
                        // If the task has already started, display a message indicating that it has started
                        timer.innerText = "Task has started";
                    }
                });
            }

            //pop-up alert
            function confirmDelete(taskTitle) {
                return confirm('Are you sure you want to delete task "' + taskTitle + '"?');
            }

                // Call the updateCountdownTimers function every second to update the countdown timers in real-time
                setInterval(updateCountdownTimers, 1000);
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>